* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "plus-jakarta-sans", sans-serif;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
}
