:root{
    --color-primary: #FDCD01;
    --color-secondary: #00658B;
    --color-tertiary: #FCEAC9;
    --color-button: #d6af00;
    --color-neutral: #2F2F2F;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
}

header > nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 7px;
    align-items: center;
}

.header-button {
    background-color: var(--color-button);
    padding: 12px 24px;
    border-radius: 30px;
    border-bottom: 2px solid black; 
    color: var(--color-neutral);
}

.header-button:hover{
    background-color: var(--color-primary);
    color: black;
    cursor: pointer;
}