:root{
    --color-primary: #FDCD01;
    --color-secondary: #00658B;
    --color-tertiary: #FCEAC9;
    --color-button: #d6af00;
    --color-neutral: #2F2F2F;
    --color-font: #4e4632;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FBF9F8;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
}

header > nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

header > nav > a {
    font-weight: 500;
    color: var(--color-font);
}

header > nav > a:hover {
    color: #735C00;
    border-bottom: 1px solid #735C00;
    padding-bottom: 3px;
}

.logo-container{
    display: flex;
    gap: 7px;
    align-items: center;
}
.logo-container > h1{
    color: var(--color-font);
}

.header-button {
    background-color: var(--color-primary);
    padding: 12px 24px;
    border-radius: 30px;
    border-bottom: 2px solid black; 
    color: var(--color-neutral);
}

.header-button:hover{
    background-color: var(--color-button);
    color: white;
    cursor: pointer;
    z-index: 1;
    scale: 1.02;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
}

.hero-header {
    height: 85vh;
    background: black url("../assets/image/hero-header-background.png") center center / cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.hero-header-content > h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: start;
}

.hero-header-content > h1 > span{
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-secondary);
}

.hero-header-content > p {
    font-size: 18px;
    color: var(--color-font);
    text-align: start;
}

.hero-header-content > button {
    display: flex;
    background-color: var(--color-primary);
    padding: 24px 64px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #6e580098;
    gap: 8px;
    color: #6e5800;
}

.hero-header-content > button:hover {
    background-color: var(--color-button);
    color: white;
    cursor: pointer;
    z-index: 1;
    scale: 1.02;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
}

.hero-header-content > button:hover > .sac-button {
    filter: brightness(0) invert(1);
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
}
.hero-header-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 48px;
    gap: 24px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 12px;
}
.categories, .offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 112px;
    gap: 64px;
}
.section-informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.section-tag{
    background-color: #C5E7FF;
    color: #001E2D;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 12px;
}
.section-informations > h1{
    font-size: 32px;
    font-weight: bold;
    color: #1B1C1C;
}
.categorie-itens{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.categorie-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 24px;
    padding: 24px;
    transition: all 0.5s ease;
    border-radius: 12px;
}
.categorie-item:hover, .product:hover{
    z-index: 1;
    scale: 1.03;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.categorie-image {
    width: 340px;
    height: 190px;
    object-fit: cover;     
    object-position: center;
    border-radius: 8px; 
}

.categorie-title{
    display: flex;
    align-items: center;
    gap: 12px;
}

.categorie-title > span, .buy-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    align-items: center;
    justify-content: center;
}

.icon-yellow{
    background-color: var(--color-primary);
}
.icon-blue{
    background-color: #01658B;
}
.icon-beige{
    background-color: #F2E1C0;
}

.categorie-title > h3{
    font-size: 26px;
    color: #1B1C1C;
}

.categorie-item > p{
    width: 340px;
    color: var(--color-font);
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;

}
.product{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 12px;
    gap: 12px;
}
.product-image{
    width: 260px;
    height: 260px;
    border-radius: 12px;
}

.product-informations{
    display: flex;
    flex-direction: column;
    width: 260px;
    gap: 16px;
}
.product-price-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-title{
    font-size: 18px;
    font-weight: 600;
}
.product-price{
    font-size: 28px;
    font-weight: bold;
    color: #735C00;
}

.ourMission {
    background-color: #f3e5c8;
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-ourMission {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 900px;
    padding: 64px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ourMission-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: justify;
}

.ourMission-text > h1 {
    font-size: 40px;
}
